<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Corretor  </h2>
            <h4>corretor@segubot.com.br</h4>
        </div>
        <img src="https://eticimoveis.com.br/media/eticimoveis/2018/04/corretor-min.jpg" alt="Corretor">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Relatórios</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Carteira de Clientes</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Configuração Bot</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Ferramentas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contatos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>